*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --text-main-color:white;
}
body{
    background: linear-gradient(to right ,  rgb(52, 73, 94),rgb(52, 73, 94) ) ;
    color:var(--text-main-color);
}
form{
    padding:50px 100px;
    background-color:  #212f3d ;
    width:70%;
    margin:10px auto;
    border-radius:10px;
}
form input[type="text"] ,form input[type="email"], form textarea, form select{
    width:100%;
    display: block;
    margin-bottom: 10px;
    padding:4.5px;
    border:none;
    font-weight: bold;
}
form select{
    width:100px;
}
.title{
    text-align: center;
}
h2{
    margin-top:50px;
}
.button-container{
    display: flex;
    justify-content: space-evenly;
    width:40%;
    margin:0 auto;
    align-items: center;
    padding:15px 10px;
}
input[type="submit"]{
    border-radius: 5px;
    padding:3.5px;
    width:35%;
    border:none;
    font-weight: bold;
}
.button-container > button{
    width:35%;
    padding:3.5px;
    border:none;
    border-radius: 5px;
    font-weight: bold;
}